html {
   font-size: 100%;
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   padding: 0;
   margin: 0;
}

body {
   background-color: var(--veryDarkGray);
   font-family: 'Georama', sans-serif;
   font-size: 16px;
   line-height: 1.5;
   overflow-x: hidden;
   transition: background-color 0.4s ease;
   color: var(--white);
}

img {
   height: auto;
   max-width: 100%;
}

ul,
ol {
   list-style: none;
}

a {
   text-decoration: none;
}

main {
   height: 100%;
   padding: 0px 2rem 0.6rem;
   display: grid;
   grid-template-columns: 1.4fr 4fr;
   grid-gap: 14px;

   @media screen and (max-width: 868px) {
      grid-template-columns: 1fr;
      padding: 0px 1rem 0.6rem;
   }
}
