.container {
   max-width: 1440px;
   width: 100%;
   margin: 0 auto;
}

.spinner {
   width: 64px;
   height: 64px;
   border: 8px solid;
   border-color: var(--white) transparent var(--white) transparent;
   border-radius: 50%;
   animation: spin 1.2s linear infinite;
}
@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.error-message {
   font-size: 60px;
   color: var(--white);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: 50px;
}

.synopsis,
.background {
   p {
      color: var(--white);
      font-size: clamp(12px, 3vw, 14px);
      line-height: 1.5em;
   }
}

.background {
   margin-top: 10px;
}

input[type='checkbox'] {
   visibility: hidden;
   &:checked + label {
      background-color: #fff;
      border-color: #202c37;

      &:before {
         transform: translateX(27px);
         background-color: #202c37;
      }
   }
}

label {
   display: flex;
   width: 80px;
   height: 32px;
   border: 4px solid #fff;
   border-radius: 99em;
   position: relative;
   transition: transform 0.15s ease-in-out;
   transform-origin: 50% 50%;
   cursor: pointer;

   &:before {
      transition: transform 0.15s ease;
      transition-delay: 0.5s;
      content: '';
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      background-color: #fff;
      border-radius: 50%;
      top: 0px;
      left: 9px;
   }
}
