.header {
   position: relative;
   padding: 0px 0px 25px;

   &__container {
      display: flex;
      flex-direction: column;
   }

   .btn {
      &--mode {
         grid-area: mode;
      }
   }
   &__list {
      grid-area: list;
   }

   &__top {
      display: flex;
      justify-content: space-between;
      background-color: var(--darkGray);
      box-shadow: 0 4px 8px 4px rgba(49, 49, 49, 0.1);
      padding: 2rem 2rem;

      @media screen and (max-width: 579px) {
         padding: 2rem 1rem;
      }

      &__themes {
         background-color: transparent;
      }
   }

   &__bottom {
      margin-top: 40px;
      padding: 0rem 2rem;

      @media screen and (max-width: 579px) {
         padding: 0rem 1rem;
      }
   }

   .nav {
      grid-area: search;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media screen and (max-width: 521px) {
         flex-direction: column;
         align-items: flex-start;
         gap: 14px;
      }

      &__logo {
         grid-area: logo;
         font-size: 24px;
         font-weight: 700;
         text-transform: uppercase;
         letter-spacing: 2px;
         color: var(--white);

         &__d {
            font-size: 54px;
            color: var(--blue);
         }
      }

      &__list {
         display: flex;
         align-items: center;
      }

      &__item {
         position: relative;
         font-size: 16px;

         &:not(:last-child) {
            margin-right: 24px;
         }
      }

      &__link {
         position: relative;
         color: var(--white);
         text-transform: uppercase;
         font-weight: 500;

         &:hover {
            color: var(--blue);

            &::before {
               opacity: 1;
               visibility: visible;
               transform: scale(1);
            }
         }

         &::before {
            content: '';
            position: absolute;
            bottom: -7px;
            left: 0;
            height: 3px;
            width: 100%;
            background-color: var(--blue);
            opacity: 0;
            visibility: hidden;
            transform: scale(0) translateY(-12px);
            transition: all 350ms ease-in-out;
         }
      }

      // Search
      &__search {
         @media screen and (max-width: 521px) {
            width: 100%;
         }
         .form {
            position: relative;

            &__search {
               background-color: var(--darkGray);
               outline: none;
               border: none;
               color: var(--white);
               width: 440px;
               font-size: 18px;
               box-shadow: 0 0 6px 2px rgba(48, 48, 48, 0.1);
               padding: 0 12px;
               height: 50px;
               border-radius: 8px;

               &:focus {
                  outline: 3px solid var(--blue);
                  outline-offset: 1px;
               }

               @media screen and (max-width: 521px) {
                  width: 100%;
               }
            }

            &__button {
               background-color: transparent;
               position: absolute;
               top: 14px;
               right: 20px;
            }
         }
      }
   }
}
